@font-face {
    font-family: "BebasNeueBold";
    src: url(../fonts/BebasNeueBold.ttf);
}

@font-face {
    font-family: "BebasNeueRegular";
    src: url(../fonts/BebasNeueRegular.ttf);
}

* {
    box-sizing: border-box;
}

:root {
    --color1: #019edb;
    --color2: #1b1b1b;
    --color3: #fff;
    --color4: #f2f2f2;
    --color5: rgba(69, 69, 69, 0.5);
    --color6: rgba(0, 0, 0, 0.6);
    --shadow: 1px 1px 15px rgba(0, 0, 0, 0.6);
    --transition: all 0.3s;
    --titleMargin: 50px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--color4);
}

h1 {
    font-size: 36px;
    color: var(--color3);
    text-align: center;
}

h3 {
    font-size: 24px;
    color: var(--color3);
    text-align: center;
}

p {
    color: var(--color3);
    font-size: 14px;
    font-weight: 300;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: var(--color1);
    color: var(--color3);
    border-radius: 15px;
    padding: 5px 20px;
    transition: var(--transition);
}

.myContainer {
    margin: 0 auto;
    max-width: 1450px;
    padding: 0 10px;
}

.nav {
    font-size: 14px;
}

.dropdown {
    text-align: right;
    display: none;
}

.contentNum {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    color: var(--color1);
}

.contentNumWrapp {
    transform: rotate(45deg);
    background-color: var(--color6);
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto -15px;
}

.contentNumWrapp .contentNum{
    transform: rotate(-45deg);
}


.iconSep {
    text-align: center;

}

.iconSep__line {
    height: 35px;
    width: 2px;
    border-left: solid 2px var(--color3);
    margin: 0 auto;
}

.iconSep__rhomb {
    height: 10px;
    width: 10px;
    background-color: var(--color3);
    transform: rotate(45deg);
    margin: 10px auto;

}



.nav-link {
    color: var(--color2);
    transition: var(--transition);
}

.nav-link:hover {
    background-color: var(--color1);
    color: var(--color3);
}

.logo {
    max-width: 170px;
    position: relative;
}

.logo svg {
    margin-top: 15px;
}

.logo__bgr1 {
    background-color: var(--color1);
    height: 280px;
    width: 280px;
    transform: rotate(45deg);
    position: absolute;
    top: -150px;
    left: -50px;
    z-index: -1;
}

.logo__bgr2 {
    background-color: var(--color2);
    height: 150px;
    width: 60px;
    transform: rotate(45deg);
    position: absolute;
    z-index: -2;
    top: -60px;
    left: 250px
}

.firstScreen {
    position: relative;
}

.firstScreen__bgrMB {
    display: none;
}

.firstScreen__bgr1 {
    background-color: var(--color3);
    position: relative;
    height: 500px;
    width: 1000px;
    z-index: -3;
    transform: rotate(45deg);
    left: -290px;
    top: -160px;
    margin-bottom: -500px;
}

.firstScreen__bgr2 {
    overflow: hidden;
    position: relative;
    height: 650px;
    width: 650px;
    z-index: 1;
    transform: rotate(45deg);
    right: -440px;
    top: 110px;
}

.firstScreen__bgr2 img {
    transform: rotate(-45deg);
    position: absolute;
    top: -140px;
    left: -140px;
}

.firstScreen__bgr3 {
    position: relative;
    height: 70px;
    width: 70px;
    background-color: var(--color1);
    transform: rotate(45deg);
    right: -370px;
    top: -430px;
}

.firstScreen__bgr4 {
    position: relative;
    background-color: var(--color2);
    height: 400px;
    width: 400px;
    transform: rotate(45deg);
    top: -450px;
    left: 50px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
}

.firstScreen__best {
    transform: rotate(-45deg);
    padding: 50px;
}

.firstScreen__best h1 {
    font-weight: 600;
    color: var(--color1);
    text-align: left;
}

.firstScreen__bgr5 {
    position: relative;
    height: 350px;
    width: 350px;
    z-index: 5;
    top: -482px;
    left: 262px;
    background-color: var(--color1);
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content1 {
    transform: rotate(-45deg);
    padding: 30px;
    text-align: center;
}

.content1 .contentNum {
    color: var(--color3);
}

.content1 button {
    background-color: var(--color4);
    color: var(--color1);
}

.firstScreen__bgr6 {
    transform: rotate(45deg);
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    top: -800px;
    left: 600px;
}

.firstScreen__bgr6 img {
    position: absolute;
    transform: rotate(-45deg);
    top: -40px;
    left: -370px;
}


.WhyChooseUs {
    margin-top: -1500px;
    background-image: url(../img/bgr2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -5;
}

.WhyChooseUs p {
    margin: 0;
}

.WhyChooseUs .container {
    padding-top: 500px;
}

.WhyChooseUs__title {
    margin-bottom: var(--titleMargin);
}

.boxBgr {
    display: flex;
    justify-content: space-between;
}

.WhyChooseUs__bgr1 {
    width: 0;
	height: 0;
	border-top: 300px solid var(--color4); 
	border-right: 300px solid transparent;	
}

.WhyChooseUs__bgr2 {
	width: 0;
	height: 0;
	border-top: 300px solid var(--color4); 
	border-left: 300px solid transparent;
}

.WhyChooseUs__card {
    background-color: var(--color5);
    padding: 35px 30px;
}

.WhyChooseUs__icon {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.WhyChooseUs__button {
    text-align: center;
    margin: 50px auto 70px;
}


.portfolio {
    background-image: url(../img/bgr2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.portfolio__container {
    position: absolute;
    top: 2420px;
    left: 50%;
    transform: translate(-50%);
}

.portfolio__bgr1 {
    overflow: hidden;
    position: relative;
    top: -640px;
    transform: rotate(45deg);
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__bgr1 img {
    max-width: 150%;
    transform: rotate(-45deg);
    position: relative;
    top: 240px;
    left: 221px;
}

.portfolio__bgr2, .portfolio__bgr3 {
    overflow: hidden;
    transform: rotate(45deg);
    height: 325px;
    width: 325px;
}

.portfolio__bgr2 img, .portfolio__bgr3 img {
    transform: rotate(-45deg);
    position: relative;
    top: -70px;
    left: -80px;

}

.portfolio__bgr4 {
    z-index: 1;
    background-color: var(--color3);
    height: 425px;
    width: 425px;
    overflow: hidden;
    transform: rotate(45deg);
    box-shadow: var(--shadow);

    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio__content {
    transform: rotate(-45deg);
    text-align: center;
}

.portfolio__content h1  {
    color: var(--color1);
    font-weight: 600;
}

.portfolio__content p  {
    color: var(--color2);
}

.portfolio__text {
    margin: 0 auto 100px;
}

.portfolio__text p {
    max-width: 790px;
    text-align: center;
    margin: auto;
    justify-content: space-between;
}

.portfolio__imgBox {
    justify-content: space-between;
    align-items: center;
}

.portfolio__bgr5 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: var(--color6);
    transform: rotate(45deg);
    left: 280px;
    /* right: -390px; */
    top: 25px;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio__bgr5 .contentNum {
    transform: rotate(-45deg);
}


.howItWork {
    background-image: url(../img/bgr7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0 150px;
}


.howItWork__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.howItWorkCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.howItWorkCard__text h3 {
    color: var(--color1);
    text-align: left;
    font-size: 20px;
}

.howItWorkCard__icon {
    border: solid 3px var(--color3);
    border-radius: 50%;
    margin-right: 20px;
    
}

.howItWorkCard__icon img {
    width: 40px;
    height: 40px;
    margin: 15px;
}

.howItWork__icon {
    margin: 0 25px;
}



.Testimonials {
    background-image: url(../img/bgr8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.Testimonials__content {
    margin-top: 60px;
}

.Testimonials__content .col-5:nth-child(1) {
    text-align: right;
}


.socialNetworks {
    background-color: var(--color1);
    padding: 45px 0;
}

.socialNetworks__iconsBox {
    display: flex;
    justify-content: space-around;
}

.socialNetworks__icon {
    border: solid 3px var(--color3);
    border-radius: 50%;
    transition: var(--transition);
    cursor: pointer;
}

.socialNetworks__icon:hover {
    background-color: var(--color3);
}

.socialNetworks__icon:hover svg {
    fill: var(--color1);
}

.socialNetworks__icon svg {
    fill: var(--color3);
    margin: 15px;
    transition: var(--transition);
}



.getInTouch {
    background-image: url(../img/bgr2.jpg);
    padding-top: 50px;
}

.getInTouchCard__title {
    font-size: 18px;
    font-weight: 400;
}

.getInTouchCard {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.getInTouchCard__icon {
    background-color: var(--color1);
    transform: rotate(45deg);
    margin-right: 40px;
}

.getInTouchCard__icon img {
    transform: rotate(-45deg);
    position: relative;
    left: 15px;
    top: -15px;
    z-index: 2;
    height: 40px;
    width: 40px;
}

.getInTouch__copyright {
    text-align: center;
}

.getInTouch__buttonTop {

    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px solid var(--color1);
    margin: auto;
    /* cursor: pointer; */
}

.getInTouch__buttonTop p { 
    position: relative;
    left: -13px;
    top: 20px;
    font-weight: 400;
    margin: 0;
}




